---
import { getCollection } from 'astro:content';
import { marked } from 'marked';

export async function getStaticPaths() {
  const stories = await getCollection('poetry');
  return stories.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;

const content = marked.parse(entry.body);

---
<html>
<body>
  <article>
    <h1>Poetry {entry.data.title}</h1>
    <article set:html={content} />
  </article>
</body>
</html>
