<h3>Main</h3>
<ul>
  <li><a href="{{ '/index.html' | prepend: site.baseurl }}">Blog</a></li>
  <li><a href="{{ '/jazz.html' | prepend: site.baseurl }}">Jazz musicians</a></li>
  <li><a href="{{ '/assessment.html' | prepend: site.baseurl }}">Assessment</a></li>
  <li><a href="{{ '/ideas.html' | prepend: site.baseurl }}">Ideas</a></li>
  <li><a href="https://ap-life-server.herokuapp.com">Life server</a></li>
  
</ul>

<h3>Other</h3>
<ul>
  <li><a href="{{ '/apps/fractals/fractal-explorer.html' | prepend: site.baseurl }}">Fractal explorer</a></li>
</ul>

