---
import { getCollection } from 'astro:content';
import { marked } from 'marked';

import { preprocessMarkdown } from '../../processor'
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const stories = await getCollection('stories');
  return stories.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;

const links = entry.data.links
if (links) {
  entry.body = preprocessMarkdown(entry.body, entry.slug, links);
  console.log(`Body after processing: ${entry.body}`)
}

const content = marked.parse(entry.body);

---
<Layout title="Food ">
  <article>
    <h1>Story {entry.data.title}</h1>
    <article set:html={content} />
  </article>
</Layout>
